
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'poppins', sans-serif
}
.cabeçalho {
       background-color: blueviolet;
        color: black;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
}